bin/
obj/
postgres-data/
s3-data/
volume/
.terraform/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea
.vs
*.db
*.db-shm
*.db-wal
appsettings.json
appsettings.Development.json
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
